#content {
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

/* Table */
#left-col {
    width: 50%;
}

table {
    background-color: white;
    border-radius: 20px;
    width: calc(100% - 60px);
    margin-right: 60px;
    padding: 15px;
    border-spacing: 8px;
}

tr {
    line-height: 22px;
}

th {
    font-weight: 500;
    text-align: left;
}

.sumHeader {
    text-align: right;
}

#total {
    font-weight: 700;
}

/* Billing and Delivery Info */
#right-col {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#right-col p {
    margin-top: 8px;
}

#right-col button {
    margin-top: 60px;
}