#content {
    display: flex;
}

.col {
    width: calc(100% / 3);
    height: calc(100vh - 154px);
    padding: 60px;
}

/* Left column */
#image {
    padding: 0px;
}

#image img {
    width: 100%;
    height: calc(100% + 120px);
    object-fit: cover;
}

/* Tags */
h1 {
    font-size: 48px;
    margin-top: 24px;
    margin-bottom: 32px;
}

select {
    font-weight: 400;
    background-color: var(--lightest);
    border: 2px solid var(--darkest);
}

button {
    font-weight: 400;
    height: min-content;
    margin: 20px;
}

#content a:hover {
    color: var(--accent);
}

/* Middle column */
#middle-col {
    padding: 60px;
    padding-right: 30px;
}

.input {
    padding-bottom: 16px;
}

.input label {
    font-weight: 600;
    padding-right: 16px;
}

#description {
    padding-bottom: 16px;
}

/* Accordion */
/* Adapted from https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    color: var(--darkest);
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: 0px;
    padding: 16px;
    width: 100%;
    text-align: left;
    border-width: 2px;
    border-style: none;
    border-top-style: solid;
    transition: 0.2s;
}

.active-accordion, .accordion:hover {
    background-color: var(--lightest);
    color: var(--darkest);
}

.panel {
    display: none;
    overflow: hidden;
}

.open {
    display: block;
}

/* Right column */
#right-col {
    padding: 60px;
    padding-left: 0px;
    display: flex;
}

#price {
    font-weight: 400;
    font-size: 36px;
}