#items {
    display: flex;
    background-color: var(--darkest);
}

.item {
    width: calc(100% / 6);
    height: calc(100vh - 154px);
    opacity: 0.6;
    transition: 0.5s;
}

/* Hide preview info until hover */
.item .preview {
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Applied on hover */
.item.active {
    width: calc(100% / 3);
    position: relative;
    opacity: 1;
    transition: 0.5s;
    transition: 0.5s;
}

.item.active .preview {
    display: block;
    position: absolute;
    bottom: 0;

    background-color: var(--lightGray);
    padding: 20px;
}